body{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPz9QpMz6fcLuJslyWeFe5eAAzPaBDCLAkYQ&usqp=CAU');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}